canvas /*Setting up the canvas*/ {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}

@font-face /*Initializing and setting up the font from the font file*/
{
    font-family: PixelAzureBonds;
    src: local("PixelAzureBonds"),
    url(../fonts/PixelAzureBonds-327Z.ttf);
}

p /*Setting the font value for the p element*/
{
    font-family: "PixelAzureBonds";
}